{% extends "base.html" %}
{% block content %}
<h2 class="text-center mb-4">Animales Exóticos</h2>
<p class="text-center">El reino animal está lleno de especies increíbles que habitan en diferentes entornos del planeta. Aquí te mostramos algunos ejemplos:</p>

<h3 class="mt-4">Acuáticos</h3>
<div class="row">
    <div class="col-md-6">
        <h5>Pez Gota</h5>
        <img src="static/pezgota.jpeg" class="img-fluid rounded shadow mb-2" alt="Pezgota">
        <p>Vive en las profundidades del océano cerca de Australia y Tasmania. Su aspecto “gelatinoso” se debe a que su cuerpo está adaptado a la alta presión del fondo marino. Fuera del agua, su cuerpo se deforma, por eso se ve tan “blando” y peculiar.</p>
    </div>
    
    <div class="col-md-6">
        <h5>Ajolote</h5>
        <img src="static/ajolote2.jpeg" class="img-fluid rounded shadow mb-2" alt="ajolote">
        <p>Es un anfibio endémico de México, famoso por su capacidad de regenerar extremidades, órganos e incluso partes del cerebro. Vive en lagos y canales de agua dulce, como los de Xochimilco. Está en peligro crítico de extinción</p>
    </div>
</div>

<h3 class="mt-4">Terrestres</h3>
<div class="row">
    <div class="col-md-6">
        <h5>Panda</h5>
        <img src="static/panda.jpeg" class="img-fluid rounded shadow mb-2" alt="panda">
        <p>Originario de China, este mamífero es conocido por su pelaje blanco y negro y su dieta basada casi exclusivamente en bambú. Es símbolo de conservación y actualmente su población se está recuperando gracias a esfuerzos internacionales.</p>
    </div>
    <div class="col-md-6">
        <h5>Okapi</h5>
        <img src="static/okapi.jpeg" class="img-fluid rounded shadow mb-2" alt="okapi">
        <p>Pariente cercano de la jirafa, vive en los bosques tropicales del Congo. Tiene el cuerpo similar al de un caballo y las patas con rayas como las de una cebra. Es un animal solitario y muy discreto.</p>
    </div>
</div>

<h3 class="mt-4">Aéreos</h3>
<div class="row">
    <div class="col-md-6">
        <h5>Guacamayo Azul</h5>
        <img src="static/pajaro.jpeg" class="img-fluid rounded shadow mb-2" alt="pajaro">
        <p>Es el loro más grande del mundo, con un plumaje azul intenso y un pico fuerte. Habita en Sudamérica (especialmente Brasil). Está amenazado por la deforestación y el tráfico ilegal de mascotas.</p>
    </div>
    <div class="col-md-6">
        <h5>Colibrí Esmeralda</h5>
        <img src="static/colibri.jpeg" class="img-fluid rounded shadow mb-2" alt="colibri">
        <p>Pequeño ave de colores verdes brillantes, muy ágil y rápida, capaz de batir sus alas hasta 80 veces por segundo. Se alimenta del néctar de las flores y cumple un papel importante como polinizador.</p>
    </div>
</div>
{% endblock %}
