{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h2>Bienvenido a la Página Principal</h2>
    <p class="lead">Aquí encontrarás información sobre animales exóticos, vehículos antiguos y las maravillas del mundo.
Cada sección tiene datos, imágenes y curiosidades interesantes.</p>
    <div class="row mt-4">
        <div class="col-md-6">
             <img src="static/panda.jpeg" alt="imagen1" class="img-fluid" style="width: 300px; height: auto;">
        </div>
        <div class="col-md-6">
            <img src="static/maravillas.jpeg" alt="imagen2" class="img-fluid" style="width: 300px; height: auto;">
        </div>
    </div>
</div>
{% endblock %}
