{% extends "base.html" %}
{% block content %}
<h2 class="text-center mb-4">Las 7 Maravillas del Mundo</h2>
<p>A lo largo de la historia, el ser humano ha construido obras impresionantes que reflejan su creatividad, fe y poder. Para reconocer estos logros, en el año 2007, la organización New7Wonders realizó una votación mundial en la que se eligieron las Siete Maravillas del Mundo Moderno.
Estas construcciones representan diferentes culturas y épocas, pero todas comparten algo en común: su belleza y su importancia histórica.</p>

<div class="row mt-4">
    <div class="col-md-6 mb-3">
        <h5>La Gran Muralla China</h5>
        <img src="static/1.jpeg" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-6 mb-3">
        <h5>Petra (Jordania)</h5>
        <img src="static/2.jpeg" class="img-fluid rounded shadow">
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6 mb-3">
        <h5>El Cristo Redentor (Brasil)</h5>
        <img src="static/3.jpeg" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-6 mb-3">
        <h5>Machu Picchu (Perú)</h5>
        <img src="static/4.jpeg" class="img-fluid rounded shadow">
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6 mb-3">
        <h5>Chichén Itzá (México)</h5>
        <img src="static/5.jpeg" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-6 mb-3">
        <h5>Coliseo Romano (Italia)</h5>
        <img src="static/6.jpeg" class="img-fluid rounded shadow">
    </div>
    <div class="row mt-4">
    <div class="col-md-6 mb-3">
        <h5>El Taj Mahal (India)</h5>
        <img src="static/7.jpeg" class="img-fluid rounded shadow">
    </div>

</div>

</div>
{% endblock %}
