{% extends "base.html" %}
{% block content %}
<h2 class="text-center mb-4">Vehículos Antiguos</h2>
<p>La historia del automóvil comenzó a finales del siglo XIX, cuando inventores de distintos países buscaban reemplazar los carruajes tirados por caballos con máquinas impulsadas por motores. Los primeros vehículos eran simples, lentos y costosos, pero marcaron el inicio de una revolución tecnológica que transformó la forma en que las personas se desplazaban por el mundo.

A continuación, te mostramos cinco vehículos antiguos que representan los primeros pasos de distintas marcas icónicas:</p>

<div class="row mt-4">
    <div class="col-md-4">
        <h5>Benz Patent-Motorwagen (1886)  Mercedes-Benz (Alemania)</h5>
        <img src="static/carro1.jpeg" class="img-fluid rounded shadow" alt="">
   <p>Considerado el primer automóvil del mundo, fue creado por Karl Benz en 1886. Funcionaba con un motor de combustión interna de un solo cilindro y alcanzaba unos 16 km/h. Su esposa, Bertha Benz, realizó el primer viaje largo en automóvil, demostrando su fiabilidad.</p>
    </div>
    <div class="col-md-4">
        <h5>Ford Model T (1908)  Ford (Estados Unidos)</h5>
        <img src="static/carro2.jpeg" class="img-fluid rounded shadow" alt="">
    <p>El Model T revolucionó la industria automotriz al ser el primer coche producido en masa. Gracias a la línea de ensamblaje de Henry Ford, se volvió accesible para la clase media. Tenía un motor de 20 caballos de fuerza y podía alcanzar unos 70 km/h.</p>
    </div>
    <div class="col-md-4">
        <h5>. Rolls-Royce Silver Ghost (1906)  Rolls-Royce (Reino Unido)</h5>
        <img src="static/carro3.jpg" class="img-fluid rounded shadow" alt="">
    <p>Llamado “El mejor coche del mundo” por su elegancia y fiabilidad. Poseía un motor de seis cilindros y un diseño lujoso. Fue uno de los primeros automóviles en combinar potencia, confort y belleza.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h5>Fiat 3½ HP (1899)  Fiat (Italia)</h5>
        <img src="static/carro4.jpeg" class="img-fluid rounded shadow" alt="">
        <p>El primer modelo producido por la marca italiana Fiat. Tenía un motor de 4 caballos de fuerza, alcanzaba 35 km/h y podía transportar hasta tres personas. Representa el nacimiento de la industria automovilística italiana.</p>
    </div>
    <div class="col-md-6">
        <h5>Peugeot Type 3 (1891) Peugeot (Francia)</h5>
        <img src="static/carro5.jpeg" class="img-fluid rounded shadow" alt="">
        <p>Fue uno de los primeros automóviles comerciales fabricados en serie. Tenía un motor Daimler de 2 caballos y podía recorrer hasta 200 km. Marcó el inicio de Peugeot como fabricante pionero en Europa.</p>
    </div>
</div>
{% endblock %}
